.search-bar {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}
label {
  color: lightblue;
  text-transform: lowercase;
}

.input-text {
  border: 1px solid lightblue;
  padding: 10px;
  color: lightblue;
}

.image-list {
  columns: 6 200px;
  column-gap: 10px;
}
img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
